<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ES.Dao.AdmissionApplicationDao">
    <select id="getList0" resultType="ES.Entity.AdmissionApplication">
        select * from admission_application where AAccept = 0
    </select>
    <select id="getList1" resultType="ES.Entity.AdmissionApplication">
        select * from admission_application where AAccept > 0
    </select>
    <update id="update">
        update admission_application set AAccept = #{acc},
                                         opinion = #{opinion}
                                         AAlastUpdateTime = #{lastUpdateTime}
                                      where AAID = #{aa_id}
    </update>
    <select id="selectById" resultType="ES.Entity.AdmissionApplication">
        select * from admission_application where AAID = #{aa_id}
    </select>
    <select id="countUser">
        select count(*) from user
    </select>
</mapper>