<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ES.Dao.CollectDao">
    <select id="viewCollect" resultType="ES.Entity.Collected">
        select * from collected where CT_UID = #{user_id}
    </select>
    <select id="selectByCTIDandPID" resultType="ES.Entity.CollectRecords">
        select * from collect_records where CR_CTID = #{collect_id} and CR_PID = #{paper_id}
    </select>
    <delete id="deleteCollectRecords">
        delete from collect_records where
                CR_CTID in (select CTID from collected where CT_UID = #{user_id})
                and CR_PID = #{paper_id}
    </delete>
    <insert id="insertCollectRecords" parameterType="ES.Entity.CollectRecords">
        insert into collect_records(CRID,CR_CTID,CR_PID)
            values(#{CRID},#{CR_CTID},#{CR_PID})
    </insert>
    <insert id="insertCollected" parameterType="ES.Entity.Collected">
        insert into collected(CTID,CTname,CT_UID)
            values(#{CTID},#{CTname},#{CT_UID})
    </insert>
    <select id="selectByCID" resultType="ES.Entity.CollectRecords">
        select * from collect_records where CR_CTID = #{ct_id}
    </select>
</mapper>