<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ES.Dao.UserDao">
    <insert id="insertUser" parameterType="ES.Entity.User">
        insert into user(UID,Uname,Upassword,Uemail,Ufield,Utype,Uinterest)
        values(#{UID},#{Uname},#{Upassword},#{Uemail},#{Ufield},#{Utype},#{Uinterest})
    </insert>
    <update id="setPasswordAndEmail">
        update user
        set Upassword=#{Upassword}, Uemail=#{Uemail}
        where UID=#{UID}
    </update>
    <update id="setPassword">
        update user
        set Upassword=#{Upassword}
        where UID=#{UID}
    </update>
    <update id="setEmail">
        update user
        set Uemail=#{Uemail}
        where UID=#{UID}
    </update>
    <select id="selectByUsername" resultType="ES.Entity.User">
        select * from user where Uname = #{username}
    </select>
    <select id="getEmail" resultType="java.lang.String">
        select Uemail from user where UID=#{uid}
    </select>
    <select id="getPassword" resultType="java.lang.String">
        select Upassword from user where UID=#{uid}
    </select>
    <select id="selectByEmail" resultType="java.lang.String">
        select * from user where Uemail=#{Uemail}
    </select>
</mapper>